ion-icon {
    color: gray;
}

#button {
    color: #FFF;
    font-size: 1.7rem;
}

#card__icon {
    color: #0d1b2a;
    font-size: 48px;
}

#time, #location {
    color: #e0e1dd;
    font-size: 56px;
}

#number {
    font-size: 36px;
}
